.header {
    margin: 0;
    padding: 0;
    background: transparent url('../../assets/images/bg-set-rect.svg') 0px -200px no-repeat padding-box;
    min-height: 800px;
    display: flex;
    align-items: center;
    color: #EEEEEE;
}

h1 {
    font-family: 'Tangerine', cursive;
    letter-spacing: 6px;
    font-size: 76px;
    text-shadow: 2px 3px 14px #EEEEEE;
}

h2 {
    font-family: 'Benne', serif;
    letter-spacing: 6px;
    font-size: 28px;
    line-height: 1;
    text-decoration: overline;
}

.heading-section {
    width: 50%;
    margin-left: auto;
    text-align: center;
}

.resume-down {
    display: inline-block;
    margin: 10px auto;
    background-color: red;
    border-radius: 0;
    border: none;
    color: #EEEEEE;
    padding: 16px 20px;
    font-size: 20px;
    box-shadow: 1px 1px 15px #222831;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
}

.resume-down:hover {
    background-color: rgba(4, 0, 154, 0.6);
    box-shadow: 1px 1px 25px #222831;
    text-shadow: 0.2px 0.2px 1px #EEEEEE;
}

@media (max-width: 1600px) {
    .header {
        background-size: 1200px;
        background-position: 0px;
    }
}

@media (max-width: 1080px) {
    .header {
        background-size: 900px;
        background-position: 0px;
    }
    .heading-section {
        width: 65%;
    }
}

@media (max-width: 1020px) {
    .header {
        background-size: 700px;
        background-position: 0px;
    }
    .heading-section {
        width: 70%;
    }
}

@media (max-width: 900px) {
    .header {
        background-size: 550px;
        background-position: 0px;
    }
    .heading-section {
        width: 70%;
    }
    h2 {
        text-decoration: none;
    }
}

@media (max-width: 800px) {
    .header {
        background-size: 400px;
        background-position: 0px;
    }
    .heading-section {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .header {
        background-size: 400px;
        background-position: 0px 90px;
    }
    .heading-section {
        width: 100%;
    }
}

@media (max-width: 560px) {
    .header {
        background-size: 400px;
        background-position: 0px 70px;
    }
    .heading-section {
        width: 100%;
    }
    h1 {
        font-size: 54px;
    }
}

@media (max-width: 425px) {
    .header {
        background-size: 300px;
        background-position: 0px 75px;
    }
    .heading-section {
        width: 100%;
    }
    h1 {
        font-size: 48px;
    }
}

@media (max-width: 375px) {
    .header {
        background-size: 300px;
        background-position: 0px 75px;
    }
    .heading-section {
        width: 100%;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 22px;
    }
}

@media (max-width: 320px) {
    .header {
        background-size: 300px;
        background-position: 0px 95px;
    }
    .heading-section {
        width: 100%;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 14px;
    }
}