header {
    width: 100%;
    min-height: 800px;
    background-color: #393E46;
    margin: 0;
    padding: 0;
}

@media (max-width: 560px){
    header {
        min-height: 500px;
        height: 600px;
    }
}
